#navbar{
    background-color: blanchedalmond;
    

}
#navbar ul li{
    display: inline;
    margin-right: 5px;
}
.list{
    list-style: none;
    text-align: left;
    padding-left: 2px;
}
.categories ul li{
    list-style-type: circle;
}
.cover{
    background-image:url("https://raw.githubusercontent.com/Rahabwangechi/milestone-2/main/images/pexels.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% ;

}
.h1{
    background-color: slategrey;
    color: rebeccapurple;
    text-align: center;
    padding: 20px;
    font-style: oblique;
    font-family: Cambria;
}
.img1 {
    position: absolute;
    left: 10%;
    top: 50%;
    border: 1px solid darkgrey;
    box-shadow: 1px 2px 4px;

}
.h2{
    color: black;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    left: 10%;
    top: 70%;
    background-color: blanchedalmond;
}
.img2{
    position: absolute;
    left: 30%;
    top: 50%;
    border: 1px solid darkgrey;
    box-shadow: 1px 2px 4px;
}
.h3{
    color: black;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    left: 10%;
    top: 70%;
    background-color: blanchedalmond;
}
.img3{
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid darkgrey;
    box-shadow: 1px 2px 4px;
}
.h4{
    color: black;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    left: 10%;
    top: 70%;
    background-color: blanchedalmond;
}
.copy{
    text-align:left;
    position: absolute;
    top: 90%;
    color: cadetblue;
}
.row1{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: space-evenly ;


}
.row2{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: space-around ;
}
.row3{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: space-around ;
}
.text1{
    color: black;
    text-align: center;
   position: absolute;
     left: 20%;
    top: 40%;
  background-color: silver;
}
.text2{
    color: black;
    text-align: center;
   position: absolute;
     left: 20%;
    top: 80%;
  background-color: silver;
}
.form{
    
}
.button{
     display: inline;
     width:5px;
    height:2px;
    background: lightseagreen;
    padding:2px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.btn{
      display:inline;
    width:5px;
   height:2px;
   background:whitesmoke;
   padding:2px;
   text-align: center;
   color: black;
   font-weight: bold;
   line-height: 25px;
}
